<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    * {
      box-sizing: border-box;
    }

    body {

      font-family: 'Open Sans', sans-serif;
      color: black;
      -webkit-font-smoothing: antialiased;
      background-color: gray;

    }



    .center {

      margin: auto;
      width: 60%;
      height: 120%;
      border: 3px solid #797979;
      padding: 10px;
      background-color: #f1f1f1;
      padding: 20px;
      width: 60%;
      box-shadow: 5px 10px 8px black;
      font-size: 120%;


    }

    .button {

      position: relative;
      margin-right: 20px;
      margin-top: 50px;
      width: 200px;
      height: 30px;
      background-color: #9B9B9B;
      border: 1px solid black;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
      cursor: pointer;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      cursor: pointer;

    }

    .button1 {
      background-color: 9B9B9B;
      color: black;
      border: 2px solid #9B9B9B;
    }

    .button1:hover {
      background-color: white;
      color: black;
    }




    @media screen and (max-width:800px) {
      .main {
        width: 100%;
      }
    }
  </style>
</head>

<body onload="loggedIn()">

  <div class="center">
    <h2 id="x">Você está logado!</h2>
    <p id="email">Bem vindo ao sistema </p>

    <p>Você está logado como usuário padrão</p>
    <button class="button button1" onclick="logoff()">Sair</button>
  </div>

</body>

</html>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function logoff() {
    localStorage.clear()
    window.location.href = "http://localhost:3333/login"
  }
    function emailReveal(){
      tk = localStorage.getItem("remind")
    console.log(tk)
    axios.get('http://localhost:3333/api/auth/user', {
        headers: {
            'Authorization': 'Bearer ' + tk
        }
    })
    .then(data => {
        //console.log(data)
        em = document.getElementById("email")
        em.innerHTML += data.data.email
    })
    .catch(erro => {
        //console.log(erro)
        alert('Erro! O usuário não está logado!')
    })

    }
  

    function voltar(){
        window.location.href = "http://localhost:3333/login"

    }

    function loggedIn(){
      if(localStorage.getItem("remind") !== null){
        emailReveal()
      }else{
        x = document.getElementById("x")
        e =document.getElementById("email")
        e.innerHTML = ''
        x.innerHTML = ''
        alert("O USUARIO NÃO ESTA LOGADO")
        window.location.href = "http://localhost:3333/login"
      }
      
    }

</script>